body {
  background-color: #f3f3f3;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  color: #333;
  margin: 0;
  padding: 0;
}

footer {
    background-color: #333;
    color: #fff;
    padding: 20px;
}
  
nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-between;
}

nav li {
  margin: 0 10px;
}

nav a {
  color: #fff;
  text-decoration: none;
  font-weight: bold;
  font-size: 18px;
  transition: all 0.3s ease;
}

nav a:hover {
  color: #f1c40f;
}

img {
  width: 40px;
  height: 40px;
}

#bob {
  position: absolute;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  animation: sleepAnimation 2s infinite;
}

@keyframes sleepAnimation {
  0%   {background-image: url("/media/bobAnimation/bobSleep_0.png");}
  33%  {background-image: url("/media/bobAnimation/bobSleep_2.png");}
  66%  {background-image: url("/media/bobAnimation/bobSleep_1.png");}
  100% {background-image: url("/media/bobAnimation/bobSleep_0.png");}
}