:root{
    --secondary-color: #1c1344;
    --primary-color: #140f2b;
    --tertiary-color: rgba(255, 255, 255, 0.521);
    --quaternary-color: whitesmoke;
}

@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@1,500&family=Ubuntu:ital,wght@0,500;1,700&display=swap');


/* Body styles */
body {
    background-color: var(--primary-color);
    background-size: cover;
    color: var(--quaternary-color);
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    font-family: 'montserrat', sans-serif;
}
  
/* Header styles */
header {
    align-items: center;
    justify-content: center;
    background-color: var(--primary-color);
    color: var(--quaternary-color);
    padding: 20px;
    background: linear-gradient(to top, #140f2b 0%, #1c1344 100%);
/* Fonts */
    font-family: 'ubuntu', sans-serif;
}

#division {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

#left {
    color: var(--terinary-color);
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items:baseline;
    height: 100%;
    line-height: 1.6;
    position: sticky;
    top: 3rem;
}

#right {
    display: flex;
    width: 50%;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

#arts {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

#icon {
    display: flex;
    flex-direction: row;
    justify-content:space-between;
    width: -webkit-fill-available;
}

.experience {
    display: flex;
    flex-direction:row;
    justify-content:space-evenly;
    align-items: center;
    border-radius: 10px;
}

.experience * {
    margin: 20px;
    color: var(--tertiary-color);

}

.experience:hover {
    background-color:#252233;
}
.experience:hover .description * {
    color: whitesmoke;
}

.preview {
    height: 15rem;
    width: auto;
    border-radius: 5px;
}
/* Main styles */
main {
    padding: 20px;
    display: flex;
    width: fit-content;
    height: fit-content;
    flex-direction: row;
    justify-content: space-around;
    line-height: 1.6;
}

h4 {
    text-align: center;
}

.description {
    text-align: center;
}

h1 {
    color: var(--quaternary-color);
    font-size: 32px;
    margin-bottom: 10px;
    text-align: center;
}

p {
    color: var(--tertiary-color);
    font-size: 16px;
    line-height: 1.5;
}

span {
    color: var(--quaternary-color);
    font-weight: bold;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    margin-bottom: 20px;
}

h3 {
    color: var(--quaternary-color);
    font-size: 20px;
    margin-bottom: 10px;
}

/* Config styles */
#config {
    background-color: var(--secondary-color);
    border: 1px solid var(--tertiary-color);
    padding: 20px;
    margin-bottom: 40px;
    width: fit-content;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 10px;
}

canvas {
    border: 1px solid var(--tertiary-color);
    margin-bottom: 20px;
    border-radius: 10px;
}

.button {
    background-color: #000;
    border: none;
    color: var(--quaternary-color);
    cursor: pointer;
    padding: 10px 20px;
    margin-bottom: 10px;
    text-decoration: none;
    font-size: 16px;
    border-radius: 5px;
    border: 3px solid var(--quaternary-color);
}

.input {
    margin-bottom: 10px;
    padding: 5px;
    width: 100px;
    border: 3px solid black;
    border-radius: 5px;
}

/* Footer styles */
footer {
    background-color: var(--secondary-color);
    background: linear-gradient(to top, #1c1344 0%, #140f2b 100%);
    color: var(--quaternary-color);
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
    padding: 20px;
}

nav ul {
display: flex;
justify-content: center;
list-style-type: none;
padding: 0;
}

nav ul li {
margin-right: 20px;
}

.icons {
    width: 50px;
    height: 50px;
}

/* Media queries */
@media (max-width: 768px) {
h1 {
    font-size: 24px;
}

h2 {
    font-size: 20px;
}

h3 {
    font-size: 18px;
}

p {
    font-size: 14px;
}

.input {
    width: 80px;
}

.icons {
    width: 20px;
    height: 20px;
}
}
  